/* Global Style */
body {
  background-color: #222; /* Background Color: White */
  color: #aaa; /* Text Color: White */
  font-family: Verdana, Geneva, sans-serif; /* Font: Geneva, Verdana: Sans Serif. */
  text-align: left; /* Global Text Alignment */
}

/* Headers */
h1 {
  background-color: #222; /* Background Color: Black */
  color: #aaa; /* Text Color: White */
  text-shadow: 2px 2px 4px #000000; /* Text Shadow */
}

/* Not gonna comment each header, would be a waste of time. */

h2 {
  background-color: #222;
  color: #aaa;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  background-color: #222;
  color: #aaa;
  text-shadow: 2px 2px 4px #000000;
}

h4 {
  background-color: #222;
  color: #aaa;
  text-shadow: 2px 2px 4px #000000;
}

h5 {
  background-color: #222;
  color: #aaa;
}

/* Center Alignment Preset Class */

.cntr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Hyperlink */
a {
  color: #03a5fc; /* Text Color */
  text-shadow: 2px 2px 4px ##0074ad; /* Text Shadow */
}

/* Yellow Text Class */
.cyellow {
  color: #fce303; /* Color: Yellow */
  text-shadow: 3px 3px 4px #000000; /* Text Shadow */
}
