h1 {
    background-color: #222;
    color: #fff;
    text-shadow: 3px 3px 6px #000000;
}

h2 {
    background-color: #222;
    color: #fff;
    text-shadow: 3px 3px 6px #000000;
}

h3 {
    background-color: #222;
    color: #fff;
    text-shadow: 3px 3px 6px #000000;
}

h4 {
    background-color: #222;
    color: #fff;
    text-shadow: 3px 3px 6px #000000;
}

h5 {
    background-color: #222;
    text-shadow: 3px 3px 6px #000000;
    color: #fff;
}


#wrapped {
    width: 900px;
    margin: 0 auto;
}

.cntr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

a {
    color: #03a5fc;
    text-shadow: 2px 2px 4px #000000;
}

.cyellow {
    color: #fce303;
    text-shadow: 2px 2px 4px #000000;
}

code {
    background-color: #fff;
    color: #000;
    border-style: inset;
    border-radius: 5px;
    display: block;
}


.imgshad {
    border-style: outset;
    border-color: #303030;
}

.imgtxtshad {
    padding: 10px;
}

yellowify {
    color: #fce303;
    text-shadow: 2px 2px 4px #000000;
}

blockquote {
    background-color: #0047AB;
    color: #fff;
    padding: 3px;
}

details {
    background-color: #000;
    color: #fff;
    padding: 3px;
}

body {
    background-color: #222;
    color: #aaa;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: #0047AB;
    color: #fff;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
